{% extends 'menu.html' %}

{% block content %}

<h3>SpringGrid - Match results</h3>
<table>
<tr class='tablehead'>
<td>matchrequestid</td>
<td>ai0name</td>
<td>ai0version</td>
<td>ai1name</td>
<td>ai1version</td>
<td>mapname</td>
<td>modname</td>
<td>options</td>
<td>botrunnername</td>
<td>assignment date/time</td>
<td>result</td>
<td>infolog</td>
<td>replay</td>
</tr>

{% for request in requests %}
   <tr>
   <td>{{request.matchrequest_id}}</td>
   <td>{{request.ai0.ai_name|e}}</td>
   <td>{{request.ai0.ai_version|e}}</td>
   <td>{{request.ai1.ai_name|e}}</td>
   <td>{{request.ai1.ai_version|e}}</td>
   <td>{{request.map.map_name|e}}</td>
   <td>{{request.mod.mod_name|e}}</td>
   <td>
   {% for option in request.options %}
      {{option.option_name|e}}&nbsp;
   {% endfor %}
   &nbsp;
   </td>
   <td>{{request.matchrequestinprogress.botrunner.botrunner_name|e}}</td>
   <td>{{request.matchrequestinprogress.datetimeassigned}}</td>
   <td>{{request.matchresult.matchresult|e}}</td>
   <td>
   {% if infologpathbyrequest[request] is defined %}
      <a href='{{infologpathbyrequest[request]|e}}'>infolog</a>
   {% else %}
   No infolog available
   {% endif %}
   </td>
   <td>
   {% if replaypathbyrequest[request] is defined %}
      <a href='{{replaypathbyrequest[request]|e}}'>replay</a>
   {% else %}
   No replay available
   {% endif %}
   </td>
   </tr>
{% endfor %}

</table>

{% endblock %}

