{% extends 'menu.html' %}

{#
Copyright Hugh Perkins 2009
hughperkins@gmail.com http://manageddreams.com

This program is free software; you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the
Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
more details.

You should have received a copy of the GNU General Public License along
with this program in the file licence.txt; if not, write to the
Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-
1307 USA
You can find the licence also on the web at:
http://www.opensource.org/licenses/gpl-license.php
#}

{% block content %}
<h3>AILadder - Bot Runner List</h3>
<table border='1' padding='3'>
<tr class='tablehead'><td>Bot Runner Name</td><td>Bot Runner Owner Name:</td><td>Shared secret (only visible for your own botrunners)</td><td>Options</td><td>Instance sessionid</td><td>Instance last ping</td><td>Instance last status</td></tr>

{% for botrunner in botrunners %}

<tr>
<td rowspan="{{botrunner.rowspan}}" valign="top">{{botrunner.botrunner_name}}</td>
<td rowspan="{{botrunner.rowspan}}" valign="top">{{botrunner.owneraccount.userfullname}}&nbsp;</td>
<td rowspan="{{botrunner.rowspan}}" valign="top">{% if botrunner.owneraccount.username == username %}
{{botrunner.botrunner_sharedsecret}}{% endif %}&nbsp;</td>
<td rowspan="{{botrunner.rowspan}}" valign="top">{% for option in botrunner.options %}option{% endfor %}</td>

{% for instance in botrunner.sessions %}
{% if not loop.first %}<tr>{%endif%}
<td>{{instance.botrunner_session_id|truncate(5, '...')}}</td>
<td class="{% if instance.pingtimeok %}success{%else%}fail{%endif%}">{{instance.lastpingtimestring}}</td>
<td>{{instance.lastpingstatus}}</td>
</tr>
{%else%}
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
{%endfor%}

{% endfor %}

</table>

{% if isloggedin %}

   <p />
   <hr />
   <p />

   <h4>Register new bot runner:</h4>
   You will automatically be marked as 'owner' of this botrunner<p />
   <form action='addbotrunner.py' method='post'>
   <table border='1' padding='3'>
   <tr><td>Bot runner name</td><td><input name='botrunnername'</td></tr>
   <tr><td>Bot runner shared secret</td><td><input name='sharedsecret'</td></tr>
   <tr><td></td><td><input type='submit' value='Add' /></td></tr>
   </table>
   </form>
{% endif %}

{% endblock %}

