{% extends 'menu.html' %}

{#
Copyright Hugh Perkins 2009
hughperkins@gmail.com http://manageddreams.com

This program is free software; you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the
Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
more details.

You should have received a copy of the GNU General Public License along
with this program in the file licence.txt; if not, write to the
Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-
1307 USA
You can find the licence also on the web at:
http://www.opensource.org/licenses/gpl-license.php
#}

{% block content %}

<h3>SpringGrid - Mod '{{mod.mod_name|e}}</h3>

{% if showform %}
<form action="updatemod.py" method="post">
<table border='1' padding='3'>
<tr class='tablehead'>
<tr><td>Mod name</td><td><input type="text" name="modnewname" value="{{mod.mod_name|e}}" /></td></tr>
<tr><td>Mod archive checksum (Note: this is NOT the modhash seen in the start script)</td><td><input type="text" name="modarchivechecksum" value="{% if not mod.mod_archivechecksum is none %}{{mod.mod_archivechecksum|e}}{%endif%}" /></td></tr>
<tr><td>Mod download url</td><td><input type="text" name="modurl" value="{% if not mod.mod_url is none %}{{mod.mod_url|e}}{%endif%}" /></td></tr>
<input type="hidden" name="modname" value="{{mod.mod_name|e}}" />
<tr><td></td><td><input type="submit" value="Update" /></td></tr>
</table>
</form>
{% else %}
<table border='1' padding='3'>
<tr class='tablehead'>
<tr><td>Mod name</td><td>{{mod.mod_name|e}}</td></tr>
<tr><td>Mod archive checksum (Note: this is NOT the modhash seen in the start script)</td><td>{{mod.mod_archivechecksum}}</tr>
<tr><td>Mod download url</td><td>{% if not mod.mod_url is none %}<a href='{{mod.mod_url|e}}' rel="nofollow">{{mod.mod_url|e}}</a>{%endif%}&nbsp;</td></tr>
</table>
{% endif %}

{% endblock %}

