{% extends 'menu.html' %}

{% block content %}

<h3>SpringGrid - AI List</h3>

<table border='1' padding='3'>
<tr class='tablehead'><td>AI Name</td><td>AI Version</td><td>Compatible Options</td><td>Download url</td><td>Needs compiling?</td></tr>

{% for ai in ais %}
   <tr>
   <td><a href='viewai.py?ainame={{ai.ai_name|e}}&aiversion={{ai.ai_version|e}}'>{{ai.ai_name|e}}</a></td>
   <td>{{ai.ai_version|e}}</td>

   <td>
   {% for option in ai.allowedoptions %}
      {{option.option_name|e}}&nbsp;
   {% endfor %}
   &nbsp;</td>

   {% if ai.ai_downloadurl != none %}
      <td>
      <a href='{{ai.ai_downloadurl|e}}'>{{ai.ai_downloadurl|e}}</a>
      </td>
      <td>{{ai.ai_needscompiling}}</td>
   {% else %}
      <td>&nbsp;</td>
      <td>&nbsp;</td>
   {% endif %}
   </tr>

{% endfor %}

</table>

{% if showform %}

   <p />
   <hr />
   <p />

   <h4>Register new AI:</h4>
   Note that the AI name is case-sensitive.<p />
   Download url should be for a file in .tgz .tar.gz or .tar.bz2 format.<p />
   <form action='addai.py' method='post'>
   <table border='1' padding='3'>
   <tr><td>AI name</td><td><input name='ainame'</td></tr>
   <tr><td>AI version</td><td><input name='aiversion'</td></tr>
   <tr><td>Download url</td><td><input name='downloadurl'</td></tr>
   <tr><td>Needs compiling?</td><td><select name="needscompiling"><option value="yes">Yes</option><option value="no">No</option></select></tr>
   <tr><td></td><td><input type='submit' value='Add' /></td></tr>
   </table>
   </form> 
{% endif %}

{% endblock %}


