{% extends 'menu.html' %}

{% import 'formhelper.html' as formhelper %}

{% block content %}

<h3>SpringGrid - Bot Runner '{{botrunner.botrunner_name|e}}'</h3>
<table border='1' padding='3'>

{% if botrunner.owneraccount != none %}
   <tr><td>Bot runner owner: </td><td>{{botrunner.owneraccount.userfullname|e}}</td></tr>
{% else %}
   <tr><td>Bot runner owner: </td><td>None assigned</td></tr>
{% endif %}
{% if isbotrunnerowner %}
   <tr><td>Shared secret: </td><td>{{botrunner.botrunner_sharedsecret|e}}</td></tr>
{% else %}
   <tr><td>Shared secret: </td><td>&lt;only visible to owner&gt;</td></tr>
{% endif %}

</table>

<h3>Assigned options</h3>

<table>


{% if isbotrunnerowner %}
   <tr class='tablehead'><td>Option name</td><td></td></tr>
{% else %}
   <tr class='tablehead'><td>Option name</td></tr>
{% endif %}

{% for option in botrunner.options %}
   <tr><td>{{option.option.option_name|e}}</td>
   {% if showform %}
      <td><a href='deleteoptionfrombotrunner.py?botrunnername={{botrunner.botrunner_name|e}}&optionname={{option.option.option_name|e}}'>Delete option</a></td>
   {% endif %}
   </tr>
{% endfor %}

</table>

<h3>Supported AIs</h3>

<table>
<tr class='tablehead'><td>AI Name</td><td>AI Version</td></tr>
{% for ai in botrunner.supportedais %}
   <tr class='success'><td>{{ai.ai.ai_name|e}}</td><td>{{ai.ai.ai_version|e}}</td></tr>
{% endfor %}
</table>

<h3>Supported Maps</h3>

<table>
<tr class='tablehead'><td>Map</td>
{% for map in botrunner.supportedmaps %}
   <tr class='success'><td>{{map.map_name|e}}</td>
{% endfor %}
</table>

<h3>Supported Mods</h3>

<table>
<tr class='tablehead'><td>Mod</td>
{% for mod in botrunner.supportedmods %}
   <tr class='success'><td>{{mod.mod_name|e}}</td>
{% endfor %}
</table>

{% if showform %}
   <p />
   <hr />
   <p />

   <h4>Add new options to engine:</h4>
   <form action='addoptiontobotrunner.py' method='post'>
   <table border='1' padding='3'>
   <tr><td>Option to add:</td><td>{{formhelper.listtodropdown( 'optionname', potentialoptions )}}</td></tr>
   <tr><td></td><td><input type='submit' value='Add' /></td></tr>
   </table>
   <input type='hidden' name='botrunnername' value='{{botrunner.botrunner_name|e}}' />
   </form>
{% endif %}

{% endblock %}

