# make sure configs are not included:
config.py
config.pyc

# exclude all compiled modules
*.pyc

# various scripts that should not be included
updatesite.cgi
reloaddb.cgi
package.sh

# logfiles
*.log
*log.txt
infolog.txt

#spring...
spring
spring-headlessstubs
spring-dummy

# personal test files:
testunitsync.py
testreceivefile.py
testwebservice.py

*.tar.bz2
*.tar
*.zip

# cmake stuff:
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake

