# make sure configs are not included:
config.py
config.pyc

infolog.txt

# exclude all compiled modules
*.pyc

# various scripts that should not be included
updatesite.cgi
reloaddb.cgi

# logfiles
*.log
*log.txt

#spring...
spring
spring-headlessstubs
spring-dummy

# personal test files:
testunitsync.py

*.tar.bz2
*.tar
*.zip

