dbhost = "localhost"
dbname = "ailadder"
dbuser = ""
dbpassword = ""

gametimeoutminutes = 30
requestinprogresstimeoutminutes = 60
gameendstring = "] Team%TEAMNUMBER%"
cheatingstring="] SkirmishAI (with team ID = %TEAMNUMBER%): Cheating enabled"

