div.header {
   position: absolute;
   top: 20px;
   left: 50px;
}
div.mainmenu {
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 50px;
}
div.contents {
   position: absolute;

   top: 90px;
   left: 60px;
}

div.menu {
   float: left;   
   width: 175px;
}
div.menu div {
    background-color: lightblue;
}
div.menu div.popuptitle {
   border: solid 1px;
   padding: 5px;
}

div.menu div.popup {
   display: none;
   font-weight: normal;
   border: solid 1px;
    background-color: lightblue;
   width: 280px;
}

div.menu:hover div.popuptitle {
   font-weight: bold;
   background-color: aaf;
}

div.menu:hover div.popup {
   display: block;
}

div.popup a {
   text-decoration: none;   
   color: black;
}
div.popup a:hover {
}
div.menuitem {
   padding: 10px;
}
div.menuitem:hover {
   padding: 10px;
   font-weight: bold;   
   background-color: aaf;
}

table {
   border: solid 1px;
   border-spacing: 0px;
}
tr.tablehead td {
   background-color: aaf;
   font-weight: bold;
}
tr {
   padding: 3px;
   border: solid 1px;
   background-color: lightblue;
}
tr.inprogress {
   background-color: lightgreen;
}


